body {
    max-width: 480px;
    height: 100%;
    background: #e5e5e5;
  
    font-family: "Righteous", cursive;
  
    font-family: "Roboto", sans-serif;
  }
  
  /* Topo da página*/
  
  .topo {
    position: fixed;
    width: 480px;
    height: 92px;
  
    background: #cf2b2b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
    display: block;
    z-index: 1;
  }
  
  /*Corpo da página*/
  
  .caixa {
    position: absolute;
  
    height: 100%;
    max-width: 480px;
    top: 92px;
  
    display: block;
  }
  
  /*Seção dos prato*/
  
  .section1 {
    position: relative;
    height: 250px;
    width: 100%;
  
    margin-left: 15px;
  
    justify-content: space-around;
  
    overflow-x: scroll;
  }
  
  .prato {
    position: relative;
  
    width: 600px;
    height: 100%;
  
    margin-top: 15px;
  
    display: flex;
    flex-direction: row;
  }
  
  .prato1 {
    position: relative;
  
    width: 180px;
    height: 220px;
    margin-right: 20px;
  
    background: #ffffff;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    border: 5px solid white;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  img {
    position: relative;
  
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
  
    width: 144px;
    height: 87px;
  
    border-radius: 4px;
  }
  
  /* Seção das bebidas */
  
  .section2 {
    position: relative;
    height: 250px;
    width: 100%;
  
    margin-left: 15px;
  
    justify-content: space-around;
  
    overflow-x: scroll;
  }
  
  .bebida {
    position: relative;
  
    width: 600px;
    height: 100%;
  
    margin-top: 15px;
  
    display: flex;
    flex-direction: row;
  }
  
  .bebida1 {
    position: relative;
  
    width: 180px;
    height: 220px;
    margin-right: 20px;
  
    background: #ffffff;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    border: 5px solid white;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  /* Seção das sobremesas */
  
  .section3 {
    position: relative;
    height: 250px;
    width: 100%;
  
    margin-left: 15px;
  
    justify-content: space-around;
  
    overflow-x: scroll;
  }
  
  .sobremesa {
    position: relative;
  
    width: 600px;
    height: 100%;
  
    margin-top: 15px;
  
    display: flex;
    flex-direction: row;
  }
  
  .sobremesa1 {
    position: relative;
  
    width: 180px;
    height: 220px;
    margin-right: 20px;
  
    background: #ffffff;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    border: 5px solid white;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  /* Botão */
  
  .section4 {
    position: absolute;
  
    width: 100%;
    height: 100px;
    top: 1015px;
  
    display: block;
    align-items: center;
  }
  
  .botao {
    position: relative;
    width: 364px;
    height: 80px;
    left: 60px;
  
    background: green;
    border-radius: 100px;
  
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border: 1px solid #cbcbcb;
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
  
    color: #ffffff;
  }
  
  /*Estilos dos textos*/
  
  h1 {
    position: relative;
  
    margin-left: 15px;
    margin-top: 10px;
  
    font-family: "Righteous";
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
  
    color: #ffffff;
  }
  
  h2 {
    position: relative;
  
    margin-left: 15px;
    margin-top: -5px;
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  
    color: #ffffff;
  }
  
  h3 {
    position: relative;
  
    margin-top: 20px;
    margin-left: 15px;
  
    font-family: "Righteous";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
  
    color: #333333;
  }
  
  h4 {
    position: relative;
  
    margin-left: 15px;
    margin-right: 15px;
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  
    color: #333333;
  }
  
  h5 {
    position: relative;
  
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -5px;
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
  
    color: #a6a6a6;
  }
  
  h6 {
    position: relative;
  
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -4px;
  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  
    color: #000000;
  }
  